

    <h3>Viz view component</h3>
    Selected game: <b>{{gameId}}</b>

    <!--<div id="chart"> </div>-->
    <app-chart
        [gameID]="gameId"
        [originalDataset]="originalDataset"
        [filteredDataset]="filteredDataset"
        [change]="change"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [showLines]="showLines"
        [useLogicalTime]="useLogicalTime"
    > </app-chart>

    <form>
        <div class="checkboxes">
                <label>
                    <input type="checkbox" class="lines-toggle" [(ngModel)]="showLines" (change)="toggleLines()" name="toggleLines"/>
                    <span style="color: black;">&#9644;</span> 
                    Level lines
                </label> 
                <label>
                    <input type="checkbox" class="event-toggle" value="started" [(ngModel)]="flags.gameStarts.show" (change)="changeFilter()" name="showGameStarts"/>
                    <svg height="10" width="10"><circle cx="50%" cy="50%" r="46%" fill="white" stroke="black" /></svg>
                    Game starts
                </label> 
                 <label>
                    <input type="checkbox" class="event-toggle" value="finished" [(ngModel)]="flags.gameFinishes.show" (change)="changeFilter()"  name="showGameFinishes"/>
                    <svg height="10" width="10"><circle cx="50%" cy="50%" r="46%" fill="white" stroke="black" /></svg>
                    Game finishes
                </label> 
                <label>
                    <input type="checkbox" class="event-toggle" value="correct flag" [(ngModel)]="flags.correctFlags.show" (change)="changeFilter()"  name="showCorrectFlags"/> 
                    <svg height="10" width="10"><circle cx="50%" cy="50%" r="46%" fill="white" stroke="black" /></svg>
                    Correct flags
                </label> 
                <label>
                    <input type="checkbox" class="event-toggle" value="hint"  [(ngModel)]="flags.hints.show" (change)="changeFilter()"  name="showHints"/>
                    <svg height="10" width="10"><circle cx="50%" cy="50%" r="50%" fill="grey" /></svg>
                    Hints
                </label> 
                <label>
                    <input type="checkbox" class="event-toggle" value="wrong flag" [(ngModel)]="flags.wrongFlags.show" (change)="changeFilter()"  name="showWrongFlags"/>
                    <svg height="10" width="10"><circle cx="50%" cy="50%" r="50%" fill="red" /></svg>
                    Wrong flags
                </label> 
                
                <label>
                    <input type="checkbox" class="event-toggle" value="cowardly skipped" [(ngModel)]="flags.levelSkips.show" (change)="changeFilter()"  name="showLevelSkips"/>
                     <svg height="10" width="10"><circle cx="50%" cy="50%" r="50%" fill="black" /></svg>
                    Level skips
                </label> 
                <label>
                    <input type="checkbox" class="event-toggle" value="exited prematurely" [(ngModel)]="flags.prematureExits.show" (change)="changeFilter()"  name="showPrematureExits"/>
                     <svg height="10" width="10"><circle cx="50%" cy="50%" r="50%" fill="black" /></svg>
                    Premature exits
                </label> 
                <label>
                    <input type="checkbox" class="event-toggle" value="help level" [(ngModel)]="flags.helpLevelEvents.show" (change)="changeFilter()"  name="showHelpLevelEvents"/>
                    <svg height="10" width="10"><circle cx="50%" cy="50%" r="50%" fill="purple" /></svg>
                    Help level events
                </label> 
            </div>
            <div id="UIrow2">
                <button type="button" (click)="showAllEvents()"> Show all </button>
                <button type="button" (click)="hideAllEvents()"> Hide all </button>
                 <label>
                    <input type="checkbox" class="axis-toggle" [(ngModel)]="xAxis" (change)="toggleAxis()" name="toggleXaxis"/>
                    Show x axis (time)
                </label> 
                <label>
                    <input type="checkbox" class="axis-toggle" [(ngModel)]="yAxis" (change)="toggleAxis()" name="toggleYaxis"/>
                    Show y axis (players)
                </label> 
                <select name="selectLevel" [(ngModel)]="selectedLevel" (change)="changeLevel()">
                    <option value="all">All levels</option>
                    <option *ngFor="let level of levels" [value]="level">Level {{level}} </option>
                    <option *ngFor="let level of levels" [value]="level + ' shift'">Level {{level}} - logical time</option>
                </select>
           
            </div>
    </form>

    <!--<h2>events</h2>
    <p *ngFor="let event of events">{{event.ID}}, {{event.timestamp}},{{event.logical_time}},{{event.level}}, {{event.event}},{{event.game_instance_id}}</p>-->



